* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.top-nav{
    display: none;
}

a:visited{
    color: inherit;
}

.body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: azure;
}

.footer{
    background-color:rgba(9, 9, 104, 0.322);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0vz;
    margin-top: 40px;
}

.content_wrapper{
    flex: 1 0 200px;
  }
