/* empresa */

.historia{
    padding: 30px 20px 30px 20px;
}

.historia__texto{
    text-align: justify;
}

.calidad{
    padding: 30px 20px 30px 20px;
}

.calidad__texto{
    text-align: justify;
}
