@media screen and (max-width:1024px) {
    .footer{
        min-width: 100vw;
        width: 1229px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .titulo_viajes{
        margin-left: 550px;
        width: auto;
    }

    .main .destinos_nacionales{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 330px;
    }

    .main .destinos_internacionales{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 330px;
    }

    .main_empresa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 200px;
        margin-right: 300px;
    }

    .tarjeta_destino{
        width: 600px;
    }

    .bienvenida__texto{
        margin-left: 90px;
    }

    .imagenes_cuadradas_destinos_locales{
        margin-left: 220px;
    }

    .travel_planners{
        margin-left: 280px !important;        
    }

    .destinos_premium{
        padding-left: 440px !important;
    }

    .bienvenida{
        width: 1024px;
        height: auto;
    }
    .bienvenida__banner{
        width: 100%;
        height: 500px;
    }
    .logo__slogan{
        display:none
    }

    .grid_wrapper{
        display: grid;
        grid-template-columns: 100vh;
        grid-template-rows: repeat(1fr,8);
        grid-template-areas:"banner"
                            "text1"
                            "imagenes_cuadradas"
                            "travel_planners"
                            "text2"
                            "destinos_premium"
    }

    .grid_element{
        justify-content: center;
        width:100%;
    }

    .grid_element--banner{
        grid-area: banner;
        width: 120%;
    }
    
    .grid_element--imagenes_cuadradas{
        grid-area: imagenes_cuadradas;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .grid_element--text1{
        grid-area: text1;
    }

    .imagenes_cuadradas_destinos_locales__imagen{
        height: 650px;
        width: auto;
    }

    .grid_element--travel_planners{
        grid-area:travel_planners;
    }
    
    .travel_planners{
        width: 90vw;
        justify-items: center;
        align-items: center;
        margin-left: 75px;
        width:650px;
    }

    .grid_element--text2{
        grid-area: text2;
    }

    .grid_element--destinos_premium{
        grid-area: destinos_premium;
        display: flex;   
        flex-direction: column;
        align-items: center;
    }
    
    .destinos_premium_videos__video{
        margin-top:15px;
    }

    .nav_footer{
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .nav_footer__links_legales{
        align-content: center;
        justify-content: center;
    }

    .nav_footer__links_legales__lista{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logos_medios_de_pago{
        margin-bottom: 30px;
    }

    .links_redes_sociales{
        margin-bottom: 30px;
    }

    .tarjeta_destino{
        overflow: auto;
    }

    .main_contacto{
        display: grid;
        grid-template-columns: 100vh ;
        grid-template-rows:150px 1fr;
        grid-template-areas: 
            "contacto_mensaje"
            "contacto_formulario";
        justify-content: center;
    }

    .grid_element--mensaje{
        font-style: italic;
        grid-area: contacto_mensaje;
    }

    .grid_element--formulario{
        display: flex;
        flex-direction: column;
        align-items: left;
        grid-area: contacto_formulario;
    }

@media screen and (max-width:768px) {
    .travel_planners_texto__contenido{
        display: none;
    }
}
       
}

@media screen and (max-width:425px) {
    .travel_planners_texto__contenido{
        display: none;
    }
    .main_contacto{
        margin-left: 350px ;
    }
}
@media screen and (max-width:320px){
    .travel_planners_texto__contenido{
        display: none;
    }
}    